
header {
    background-color:#557A46;
    color:blanchedalmond;
    text-align: center;
    margin-left: 100px; 
    margin-right: 100px; 
    border-radius: 10px;
}

.input-section {
    display: flex;
    flex-direction: column;
}

label {
    display: block;
    margin-bottom:6px;
    font-size: 16px;
    font-weight: bold;
    color: #8C3333;
}

input {
    padding: 10px;
    border: 2px solid #8C3333;
    border-radius: 10px;
    font-size: 16px;
    outline: none;
}

input:focus {
    border-color:#8C3333;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    color: blanchedalmond;
    background-color: #7A9D54; 
}

button:hover {
 background-color: #7A9D54;
}

button:active {
    transform: translateY(2px);
    background-color: #557A46;
}

@media screen and (max-width: 1000px) {
    header {
        color:red;
    }
}